{% extends "_layouts/base" %}

{% set meta = {
	eyebrow: 'Want to know more?',
	title: entry.title,
	text: entry.overview
} %}

{% set locations = entry.locations.all() %}

{% block content %}

<div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto mt-16 grid grid-cols-1 gap-8 text-base leading-7 sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">

    	{% for location in locations %}
    		<div class="rounded-2xl bg-gray-50 dark:bg-[#0F1323]/80 dark:border dark:border-slate-800 p-8 flex flex-col">
    			<h3 class="font-semibold text-slate-900 dark:text-white text-xl">{{ location.title }}</h3>
    			<address class="pt-2 not-italic text-slate-900 dark:text-white/80 mb-4">
    			<p class="text-slate-900 mb-4 dark:text-white">{{ location.companyName }}</p>
				{{ location.address.one()|address({ html_tag: 'div', html: false })|replace('Czechia', 'Czech Republic')|nl2br }}
    			</address>
    			<a href="mailto:{{ location.emailAddress }}" class="block font-semibold text-[#40B8BA]">{{ location.emailAddress }}</a>
    			<a href="tel:{{ location.contactNumber }}" class="block font-semibold text-[#40B8BA] mb-8">{{ location.contactNumber }}</a>
    			<p class="text-sm mt-auto dark:text-white/80">CIN: {{ location.cin }}</p>
    		</div>
    	{% endfor %}
    	
    </div>
</div>



{% endblock %}