{% extends "_layouts/base" %}

{% set meta = {
	eyebrow: 'Our brands',
	title: entry.title,
	text: entry.overview
} %}

{% set events = craft.entries()
    .section('events')
    .all()
%}

{% block content %}
 	<div class="mx-auto max-w-7xl px-6 lg:px-8">
    	<div class="flex max-w-2xl flex-col items-end justify-between gap-16 lg:mx-0 lg:max-w-none lg:flex-row">
      		<div class="w-full lg:max-w-xl lg:flex-auto">
        		{% if events %}
			        <ul>
			        	{% for event in events %}
			        		<li class="py-8">
			            		<dl class="relative flex flex-wrap gap-x-3">
			              			<dt class="sr-only">Event</dt>
			              			<dd class="w-full flex-none text-xl font-semibold text-slate-900 dark:text-white">
			                			{{ event.title }}
			              			</dd>
			              			<dt class="sr-only">Description</dt>
			              			<dd class="mt-2 w-full flex-none text-base leading-7 text-slate-600 dark:text-white/80">{{ event.overview }}
			              				{% if event.eventWebsite %}
											<p><a href="{{ event.eventWebsite }}">Find out more &rarr;</a></p>
				              			{% endif %}
			              			</dd>
			              			<dt class="sr-only">When</dt>
			              			<dd class="mt-4 text-base font-semibold leading-7 text-slate-900 dark:text-white">
			              				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline size-6 mb-1 text-[#40B8BA]">
  											<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
										</svg>
			              				{{ event.startDate|date }}{% if event.endDate %} - {{ event.endDate|date }}{% endif %}</dd>
			              			<dt class="sr-only">Location</dt>
			             			<dd class="mt-4 flex items-center gap-x-3 text-base leading-7 text-slate-500 dark:text-white/80">
						                <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 flex-none fill-gray-300" aria-hidden="true">
						                  <circle cx="1" cy="1" r="1" />
						                </svg>
				                		{{ event.location }}
			              			</dd>
			            		</dl>
			          		</li>
			        	{% endfor %}
			        </ul>
		        {% else %}
		        	<p>No upcoming events</p>
		        {% endif %}
      		</div>
    	</div>
  	</div>

{% endblock %}