{% extends "_layouts/base" %}

{% set meta = {
	eyebrow: 'Information',
	title: entry.title,
	text: entry.overview
} %}

{% set whitePapers = entry.documents.orderBy('subtitle').all() %}
{% set researchPapers = entry.researchPapers.orderBy('subtitle').all() %}
{% set researchLinks = entry.links %}

{% set gradient = true %}

{% block content %}

	<div class="mx-auto max-w-7xl px-6 lg:px-8 prose prose-slate dark:prose-invert">
		{% if entry.text ?? false %}
			<div class="max-w-3xl mb-8">
				{{ entry.text }}
			</div>
		{% endif %}
	</div>

	{% if whitePapers %}
  	
	  	<div class="mx-auto max-w-7xl px-6 lg:px-8">
	  		<h2 class="pt-2 mb-6 text-2xl font-bold tracking-tight text-slate-900 dark:text-white sm:text-3xl">White papers</h2>
	    	<div class="grid grid-cols-1 gap-x-8 gap-y-16 max-w-none lg:grid-cols-3">

	    		{% for paper in whitePapers %}
	    			<a href="{{ paper.url }}" class="z-10 animate-fade flex justify-between gap-x-16 gap-y-8 rounded-2xl bg-slate-900 dark:bg-[#0F1323]/80 border border-slate-800 p-8 w-full flex-col items-start lg:gap-y-44">
				  		<p class="text-3xl font-bold text-white flex flex-col">
				  			<span class="inline-block">{{ paper.subtitle }}</span>
				  			<span class="inline-block pt-4 text-sm text-[#40B8BA]">Published {{ paper.published|date() }}</span>
				  		</p>
				  		<div class="shrink w-auto flex-none">
			    			<p class="text-lg font-semibold text-white">{{ paper.title }}</p>
			    			<p class="mt-2 text-base leading-7 text-gray-400">{{ paper.overview }}</p>
			    			<p class="flex items-center gap-x-2 text-[#40B8BA] pt-4">
			    				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
									<path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0 0 16.5 9h-1.875a1.875 1.875 0 0 1-1.875-1.875V5.25A3.75 3.75 0 0 0 9 1.5H5.625Z" />
									<path d="M12.971 1.816A5.23 5.23 0 0 1 14.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 0 1 3.434 1.279 9.768 9.768 0 0 0-6.963-6.963Z" />
								</svg>
								View ({{ paper.kind|upper }}) &rarr;
			    			</p>
				  		</div>
					</a>		
	    		{% endfor %}
	    	</div>
	 	</div>

 	{% endif %}

 	{% if researchPapers %}
  	
	  	<div class="mx-auto max-w-7xl px-6 lg:px-8">
	  		<h2 class="pt-2 mb-6 text-2xl font-bold tracking-tight text-slate-900 dark:text-white sm:text-3xl">White papers</h2>
	    	<div class="grid grid-cols-1 gap-x-8 gap-y-16 max-w-none lg:grid-cols-3">

	    		{% for paper in researchPapers %}
	    			<a href="{{ paper.url }}" class="z-10 animate-fade flex justify-between gap-x-16 gap-y-8 rounded-2xl bg-slate-900 dark:bg-[#0F1323]/80 border border-slate-800 p-8 w-full flex-col items-start lg:gap-y-44">
				  		<p class="text-3xl font-bold text-white flex flex-col">
				  			<span class="inline-block">{{ paper.subtitle }}</span>
				  			<span class="inline-block pt-4 text-sm text-[#40B8BA]">Published {{ paper.published|date() }}</span>
				  		</p>
				  		<div class="shrink w-auto flex-none">
			    			<p class="text-lg font-semibold text-white">{{ paper.title }}</p>
			    			<p class="mt-2 text-base leading-7 text-gray-400">{{ paper.overview }}</p>
			    			<p class="flex items-center gap-x-2 text-[#40B8BA] pt-4">
			    				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
									<path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0 0 16.5 9h-1.875a1.875 1.875 0 0 1-1.875-1.875V5.25A3.75 3.75 0 0 0 9 1.5H5.625Z" />
									<path d="M12.971 1.816A5.23 5.23 0 0 1 14.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 0 1 3.434 1.279 9.768 9.768 0 0 0-6.963-6.963Z" />
								</svg>
								View ({{ paper.kind|upper }}) &rarr;
			    			</p>
				  		</div>
					</a>		
	    		{% endfor %}
	    	</div>
	 	</div>

 	{% endif %}


	{% if researchLinks %}
		<div class="mx-auto max-w-7xl px-6 lg:px-8 pt-16">
			<h2 class="pt-2 mb-6 text-2xl font-bold tracking-tight text-slate-900 dark:text-white sm:text-3xl">Research links</h2>
			<dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
			{% for link in researchLinks %}
				<div class="flex flex-col">
					<dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-slate-900 dark:text-white">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-[#40B8BA]">
					 	<path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
					</svg>
						{{ link.websiteDescription }}
						</dt>
	      			<dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
	            		<p class="flex-auto text-slate-700 dark:text-white/80">{{ link.title }}</p>
	            		<p class="mt-6">
	              			<a href="{{ link.url }}" class="text-sm font-semibold leading-6 text-[#40B8BA]">Read <span aria-hidden="true">→</span></a>
	            		</p>
	      			</dd>
				</div>
			{% endfor %}
			</dl>
		</div>
	{% endif %}

    

	
{% endblock %}